.main-container {
  /* text-align: center; */
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scroll-snap-type: y mandatory;
}

.main-container::-webkit-scrollbar {
  display: none;
}

