/* Connection Page */
.con-container {
    color: #FFFFFF;
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 100vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Left - Image */
.con-left {
    height: 100%;
    width: 50%;
}

/* Right - Content */
.con-right {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

/* Top Text Container */
.top-container {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: .5rem;
    max-width: 550px;
    width: 90%;
}

.con-avatar {
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.con-text-align {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.con-text-top {
    margin-bottom: 0;
    text-decoration: underline;
}

.con-text-bottom {
    font-style: italic;
    margin-top: 0;
}

/* Center Links Container */
.con-links-container {
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 10px;
    display: flex;
    height: 15vh;
    justify-content: space-around;
    max-width: 625px;
    text-align: center;
    width: 40vw;
}

.con-icon {
    cursor: pointer;
    width: 70%;
}

.con-icon:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}

/* Bottom Images Container */
.con-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 300px;
    max-width: 625px;
    overflow-y: scroll;
    width: 40vw;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.con-images::-webkit-scrollbar {
    display: none;
}

.bottom {
    height: 90px;
    margin: .25rem;
    width: 90px;
}

/* Footer */
.con-footer {
    align-items: center;
    background: #D9D9D9;
    color: #BF9393;
    display: flex;
    justify-content: space-around;
    height: 7%;
    width: 100%;
}

@media (max-width: 600px) {
    .con-left {
        display: none;
    }

    .con-right {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}