.about-container {
    align-items: center;
    background-color: #202737;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    padding-top: 1rem;
}

.scroll-wrapper {
    background:#ede7e7; 
    border-radius: 2rem;
    box-shadow: 1px 1px 10px #999; 
    padding-top: .5rem;
    text-align: center; 
    width: 95vw;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
}

.scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scroll-img {
    border-radius: 1rem;
    box-shadow: 1px 1px 10px #999; 
    margin: .5rem;
    max-height: 20vh;
}

.about-text {
    background-color: #293447;
    padding: .75rem 5rem;
}