.about-container {
    align-items: center;
    background-color: darkblue;
    color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.about-text {
    padding: .75rem 5rem;
}