/* Story Page */
.story-container {
    color: #FFFFFF;
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 100vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Left - Image */
.story-left {
    height: 100%;
    width: 50%;
}

/* Right - Content */
.story-right {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

/* Top Nav Buttons */
.story-nav-container {
    display: flex;
}

.story-nav-links {
    display: flex;
    flex-direction: column;
}

.story-btns {
    background: #D9D9D9;
    border: 0;
    border-radius: 10px;
    color: #BF9393;
    cursor: pointer;
    font-family: 'Jim Nightshade';
    font-size: x-large;
    height: 70px;
    margin: .5rem;
    width: 240px;
}

.story-btns:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}

.story-circle {
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

/* Center Text Container */
.story-text {
    background-color: #bf9393;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 55vh;
    justify-content: space-between;
    overflow-y: scroll;
    padding: 1rem;
    text-align: center;
    width: 40vw;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.story-text::-webkit-scrollbar {
    display: none;
}

.story-greeting {
    text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {
    .story-left {
        display: none;
    }

    .story-right {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}