.home-container {
    align-items: center;
    background-color: rgb(15, 16, 42);
    color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.header-img {
    box-shadow: rgb(255, 255, 255) 0px 0px 30px;
    width: 100vw;
}