.footer-container {
    align-items: center;
    background-color: white;
    border: 2px solid green;
    display: flex;
    height: 2rem;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
    z-index: 999;
}